header {
  font-family: 'Roboto', sans-serif;
  color: red;
  }
  p {
  font-family: 'Dosis', sans-serif;
  display: inline-block;
  max-width: 25%;
  text-align: justify;
  }
  table {
  text-align: justify;
  max-width: 50%;
  } 